body{
    margin: 0px auto;

}

.grid{
    display: grid;
    min-height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: 330px 1fr 500px 550px;
    grid-template-areas: "my-header""my-section" " my-aside" "my-footer";
}

main{
    color: white;
    font-family: arial;
}
header{
    background-color: #ffff89;
    grid-area: my-header;
}

section{
    background-color: #853400;
    grid-area: my-section;
    padding: 20px 20px 25px 25px;
}
aside{
    background-color: #ff9800;
    grid-area: my-aside;
    font-family: verdana;

}
footer{
    background-color: #c06500;
    grid-area: my-footer;
    text-align: center;
    font-family: verdana;
    padding: 2px 5px 2px 5px;

}
header div h2{
    padding: 0px 0px 0px 13%;
}

@media (min-width:600px) and (max-width:1000px){

    .grid{
        grid-template-columns: 72% 28%;
        grid-template-rows: 250px 1fr 355px;
        grid-template-areas: "my-header my-header"
        "my-section my-aside" "my-footer  my-footer";
    }

}
@media(min-width:1001px){
    .grid{
        grid-template-columns: 1fr 300px;
        grid-template-rows: 230px 1fr 200px;  
        grid-template-areas: "my-header my-header"
        "my-section my-aside" "my-footer  my-footer";
    }

}

#caja1{
    width: 150px;
    border-radius: 55%;
    margin-bottom: 12px;
    border: 1px solid black;
    float:left; 
    
}

#caja2{
    text-align: center;
}

#caja2 a{
    padding: 5px 4%;
    text-decoration: none;
    color: black;
    font-family: Verdana;
    background-color: #FFF;


}
#datos{
    text-align: left;
    padding: 25px;
    font-family: helvetica;
    color: black;

}

#caja4, #caja6{
    height: 200px;
    width: 300px;
    float: right;
    margin-left: 10px;


}

#caja3, #caja5{
    text-align: justify;
    float: left;
    margin-bottom: 0px;


}

a {
    text-decoration: none;
    padding: 3%;
    color: black;
    font-family: verdana;

}

fieldset {
    margin-bottom: 12px;
}

legend {
    background-color: #F0B27A;
    padding: 5px;
    border-radius: 20px;
    font-weight: bold;
    color: black;
}

#iniciarSesion a{
    text-decoration: none;
    color: black;
    font-family: Verdana;
}
#iniciarSesion {
    padding: 2%;
    float: right;

}

header div img{
    width: 30px;
}

#fotoPequeña{
    width: 100px;
    margin-bottom: 0px;
    float:left; 
    padding: 25px 2%;
}

#caja10{
    float: left; 
    padding: 10px; 
    text-align: left;
}

#caja11{
    float: left; 
    padding: 10px; 
    text-align: left;

}

#caja12{
    float: left; 
    padding: 10px; 
    text-align: left;

}

#caja13{
    float: left; 
    padding: 10px; 
    text-align: left;

}

footer div h3{
    color: black;
    text-align: center;
    font-family: verdana;
}

footer div a{
    text-align: justify;
}

#caja3, #caja5{
    font-family: 'calibri';
}

section fieldset h3{
    font-family: 'cambria';
    font-size: 23px;
    text-align: justify;

}





