html, body{
    height: 100%;
}

#cover{
    background: #222 url(../img/fondo.jpg) center no-repeat;
    background-size: 100%;
    color: white;
    text-align: center;
}

#cover-texto{
    width: 100%;
}